# User preferences
.DS_Store

# Data
Backend/data/*
Backend/my_uploads/*
Backend/my_extensions/*
Backend/database/

# Dependencies
Web/node_modules/

# Builds / Caches
Web/dist/

# Dotenv configs
Web/.env
Web/.env.*
Backend/.env
Backend/.env.*

# Logs
Web/npm-debug.log
Web/debug
Web/.clinic
*.log

# IDEs / Editors
.vscode/*
!.vscode/extensions.json
.idea/
*.code-workspace
.history/
*.sublime-settings
.*.swp

# Environments / Workspaces
.gitpod.yml
.netlify

# Temporary files
Web/TODO

# Directus
Backend/*.db
Backend/schema.yaml
Backend/schema.json
Backend/api/uploads/
Backend/api/extensions/
Backend/tests/blackbox/uploads/
Backend/tests/blackbox/server-log-*
Backend/tests/blackbox/sequencer-data.json
Backend/packages/extensions-sdk/temp-extension-*/
Backend/docs/packages/
